<footer id="footer">
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2020 Réalisé par Pierre ALEMANY étudiant OC</div>
        </div>
    </div>
</footer>