{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

    <section id="page-title">
        <div class="container">
            <div class="page-title">
                <h1>Chambres</h1>
                <span>Decouvrez la liste des chambres disponibles</span>
            </div>
            <div class="breadcrumb">
            </div>
        </div>
    </section>
{% endblock %}