{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

<section id="page-title">
    <div class="container">
        <div class="page-title">
            <h1>Lists & Bullet lists</h1>
            <span>Inspiration comes of working every day.</span>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="#">Home</a> </li>
                <li><a href="#">Shortcodes</a> </li>
                <li class="active"><a href="#">Lists & Bullet lists</a> </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}